*{
    box-sizing: border-box;
}
.form_desin{
    background-color: rgb(162, 200, 234);
    padding: 30px;
    overflow:hidden ;
}
.form_desin input,select{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 12px;
}
.form_desin input:focus{
    outline: 1px solid #04aa6d;

}
.form_desin textarea{
    height: 200px;
    width: 100%;
    border-radius: 3px;
    resize: vertical;
}
.form_desin textarea:focus{
    outline: 1px solid #04aa6d;

}
input[type=button]{
    background-color: #04aa6d;
    color: wheat;
    border: none;
    padding: 10px 20px ;
    border-radius: 3px;
    cursor: pointer;
    outline: none;

}
input[type=button]:hover{
    background-color: #04aa6d;
}